@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
/* project공통 START */
.projectDetail {
    background: #fff;
    color: var(--font-color-default);
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 0.2);
    backdrop-filter: blur(6px);
}
.blur.bk {
    background-color: rgba(0, 0, 0, 0.406);
}
.projectDetail .overview .c_inner {
    gap: 10rem;  
    justify-content: space-between;
    height: 100%;
}
.projectDetail .overview .txtBox {
    width: 44%;
}
.projectDetail .overview .projectTitleWrap {
    margin-bottom: var(--space-xx-large);
}
.projectDetail .overview .projectTitleWrap .title {
    font-size: var(--font-size-xxx-large);
    font-weight: 700;
}
.projectDetail .overview .projectTitleWrap .subTitle {
    margin-top: var(--space-small);
    font-size: var(--font-size-large);
}
.projectDetail .overview .infoWrap {
    margin-top: var(--space-xx-large);
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.projectDetail .overview .infoWrap .info .tit {
    color: var(--primary-color);
    font-weight: var(--font-w-mid);
}
.projectDetail .overview .imgBox {
    gap: 2rem;
    width: calc(100% - 10rem - 44% );
}
.projectDetail .overview .imgBox img {
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
}
.projectDetail .c_section .contsTitWrap {
    margin-bottom: var(--space-xx-large);
}
.projectDetail .c_section .contsTitWrap .contsDsc {
    max-width: 80rem;
    font-size: var(--font-size-small);
}
.projectDetail .c_section .contsTitWrap.center {
    text-align: center;
}
.projectDetail .c_section .contsTitWrap.center .contsDsc {
    margin: 0 auto;
}
.projectDetail .c_section.reasons .c_flex_wrap {
    gap: 2rem;
    align-items: flex-start;
}
.projectDetail .c_section.reasons .c_flex_wrap .flexBox {
    padding: var(--space-xx-large);
    width: calc((100% - 2rem)/2);
    background: var(--base-color-light);
    border-radius: var(--border-radius-large);
}
.projectDetail .c_section.reasons .c_flex_wrap .flexBox h4 {
    margin-bottom: var(--space-mid);
    font-weight: var(--font-w-bold);
}
.projectDetail .c_section.reasons .c_flex_wrap .flexBox p {
    color: var(--font-color-sub);
}
.projectDetail .c_section.needs .c_flex_wrap {
    gap: 2rem;
    align-items: flex-start;
}
.projectDetail .c_section.needs .flexBox {
    width: calc((100% - 4rem)/3);
}
.projectDetail .c_section.needs .flexBox+.flexBox {
    padding-left: 4rem;
    border-left: .2rem solid var(--base-color-light);
}
.projectDetail .c_section.needs .flexBox h4 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: var(--font-w-bold);
}
.projectDetail .c_section.screenshotWrap .c_inner {
    gap: 2rem;
    justify-content: center;
}
.projectDetail .c_section.screenshotWrap img {
    max-width: 30rem;
}
.projectDetail .c_section.solve .c_flex_wrap {
    justify-content: center;
    gap: 14rem;
    flex-wrap: wrap;
    margin: 8rem 0 var(--space-xxx-large);
}
.projectDetail .c_section.solve .c_flex_wrap.web {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}
.projectDetail .c_section.solve .c_flex_wrap.web .imgBox {
    max-width: unset;
}
.projectDetail .c_section.solve .c_flex_wrap.web .txtBox {
    max-width: unset;
}
.projectDetail .c_section.solve .c_flex_wrap.reverse .txtBox {
    order: 2;
}
.projectDetail .c_section.solve .c_flex_wrap .txtBox {
    max-width: 38rem;
}
.projectDetail .c_section.solve .c_flex_wrap .imgBox {
    max-width: 32rem;
}
.projectDetail .c_section.solve .c_flex_wrap .imgBox img {
    box-shadow: var(--box-shadow);
    border-radius: 3rem;
}
.projectDetail .c_section.competitor .c_flex_wrap {
    gap: 4rem;
    align-items: flex-start;
    margin-top: 8rem;
}
.projectDetail .c_section.competitor .c_flex_wrap .imgBox {
    max-width: 28rem;
}
.projectDetail .c_section.competitor .txtBox {
    width: calc(100% - 4rem - 28rem);
}
.projectDetail .c_section.competitor .txtBox .prosncons+.prosncons {
    margin-top: var(--space-xx-large);
}
.projectDetail .c_section.competitor .txtBox .prosncons h4 {
    margin-bottom: var(--space-large);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-w-mid);
}
.projectDetail .c_section.competitor .txtBox .prosncons>div+div {
    margin-top: var(--space-large);
}
.projectDetail .c_section.competitor .txtBox .prosncons>div .tit {
    font-weight: var(--font-w-mid);
}
.projectDetail .c_section.competitor .txtBox .prosncons>div .dsc {
    color: var(--font-color-sub);
}
.projectDetail .c_section.ia .c_flex_wrap {
    justify-content: space-between;
    margin-bottom: var(--space-xxx-large);
}
.projectDetail .c_section.ia .c_flex_wrap .screenNum {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: var(--font-w-mid);
}
.projectDetail .c_section.ia .c_flex_wrap img {
    max-width: 20rem;
}
.projectDetail .c_section.bi .c_flex_wrap {
    gap: 4rem;
    justify-content: center;
    align-items: flex-start;
}
.projectDetail .c_section.bi .flexBox {
    max-width: 40rem;
}
.projectDetail .c_section.bi .flexBox img {
    margin-bottom: var(--space-large);
    max-width: 38rem;
    max-height: 38rem;
    object-fit: cover;
    border-radius: var(--border-radius-large);
}
.projectDetail .c_section.bi .flexBox .txtBox .tit {
    font-size: var(--font-size-x-large);
    font-weight: var(--font-w-mid);
}
.projectDetail .c_section.bottom_screenshot {
    padding: unset;
    width: 100%;
    height: 100%;
}
.projectDetail .c_section.bottom_screenshot img {
    display: block;
    height: 100%;
    object-fit: cover; 
}
.projectDetail .c_section.preview .c_inner {
    flex-direction: column;
    gap: 1rem;
}
.projectDetail .c_section.preview .nextProject {
    font-size: var(--font-size-xxx-large);
    font-weight: var(--font-w-bold);
}
.projectDetail .c_section.preview .btnWrap {
    gap: 8rem;
}
@media screen and (max-width: 1000px) {
    .projectDetail .overview .c_inner {
        flex-direction: column;
        gap: 4rem;
    }
    .projectDetail .overview .txtBox {
        width: 100%;
    }
    .projectDetail .overview .infoWrap {
        flex-direction: column;
    }
    .projectDetail .overview .infoWrap .info .tit {
        color: var(--primary-color);
    }
    .projectDetail .overview .imgBox {
        width: 100%;
    }
    .projectDetail .c_section .contsTitWrap {
        margin-bottom: var(--space-x-large);
    }
    .projectDetail .c_section.reasons .c_flex_wrap {
        flex-direction: column;  
    }
    .projectDetail .c_section.reasons .c_flex_wrap .flexBox {
        padding: var(--space-x-large);
        width: 100%;
    }
    .projectDetail .c_section.needs .c_flex_wrap {
        flex-direction: column;  
    }
    .projectDetail .c_section.needs .flexBox {
        width: 100%;
    }
    .projectDetail .c_section.needs .flexBox+.flexBox {
        padding-left: 0;
        padding-top: var(--space-mid);
        border-left: 0;
        border-top: .2rem solid var(--base-color-light);
    }
    .projectDetail .c_section.screenshotWrap .c_inner {
        flex-direction: column;
    }
    .projectDetail .c_section.solve .c_flex_wrap {
        gap: var(--space-xx-large);
        flex-direction: column;
        margin: var(--space-xxx-large) 0 0 0;
    }
    .projectDetail .c_section.solve .c_flex_wrap .txtBox {
        max-width: unset;
    }
    .projectDetail .c_section.solve .c_flex_wrap.reverse .txtBox {
        order: 1;
    }
    .projectDetail .c_section.solve .c_flex_wrap.reverse .imgBox {
        order: 2;
    }
    .projectDetail .c_section.competitor .c_flex_wrap {
        gap: 0rem;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
    }
    .projectDetail .c_section.competitor .txtBox {
        width: 100%;
    }
    .projectDetail .c_section.bi .c_flex_wrap {
        flex-direction: column;
        align-items: center;
    }
    .projectDetail .c_section.bi .flexBox {
        max-width: unset;
    }
    .projectDetail .c_section.bi .flexBox img {
        display: block;
        margin: 0 auto var(--space-large) auto;
    }
}
/* HARUT START */
.projectDetail.harut .overview {
    background-color:var(--base-color-dark);
    background: url("~@/assets/images/project/harut/overview_bg.jpg")no-repeat center/cover;
}
.projectDetail.harut .overview .imgBox {
    justify-content: center;
}
.projectDetail.harut .overview .imgBox img {
    width: calc((100% - 2rem)/2);
    max-width: 30rem;
}
/* HARUT END */
/* TONPAY START */
.projectDetail.tonpay .overview {
    color: #fff;
    background: linear-gradient(180deg, rgba(185,159,239,1) 35%, rgba(90,61,149,1) 100%);
}
.projectDetail.tonpay .overview .object {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 80rem;
    background: url("~@/assets/images/project/tonpay/overview_oj.png")no-repeat center/cover;
}
.projectDetail.tonpay .overview .c_inner {
    align-items: flex-start;
}
.projectDetail.tonpay .overview .imgBox img {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
}
.projectDetail.tonpay .gui .c_flex_wrap {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem 6rem;
}
.projectDetail.tonpay .gui .imgWrap {
    width: calc(( 100% - (6rem*5) )/6);
}
.projectDetail.tonpay .gui .imgWrap img {
    display: block;
    margin: 0 auto;
    max-width: 6rem;
    height: auto;
    object-fit: contain;
}
@media screen and (max-width: 600px) {
    .projectDetail.tonpay .gui .imgWrap {
        width: calc(( 100% - (6rem*2) )/3);
    }
}
/* TONPAY END */

/* NUOVOSEOUL START */
.projectDetail.nuovoseoul {
    color: #fff;
    background: var(--base-color-dark);
}
.projectDetail.nuovoseoul .overview {
    color: #fff;
    background: url("~@/assets/images/project/nuovoseoul/overview_bg.jpg")no-repeat center/cover;
}
.projectDetail.nuovoseoul .overview .imgBox img {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap {
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox {
    width: calc((100% - 6rem)/2);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox:nth-child(2) {
    margin-top: 20rem;
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox img {
    max-width: 20rem;
    height: auto;
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap {
    overflow: hidden;
    border-radius: var(--border-radius-large);
    background: var(--base-color-mid-dark);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap .name {
    font-size: var(--font-size-x-large);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap .nameWrap {
    padding: var(--space-x-large);
    background: var(--base-color-deep-dark);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap ul {
    padding: var(--space-x-large);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap ul li+li {
    margin-top: var(--space-x-large);
}
.projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox .txtWrap ul li .tit {
    font-weight: var(--font-w-mid);
    color: var(--font-color-mid);
}
.projectDetail.nuovoseoul .webResponsive .c_inner_wide {
    height: 100%;   
}
.projectDetail.nuovoseoul .webResponsive .c_inner_wide .webLayout {
    padding: 10%;
    background: url("~@/assets/images/project/nuovoseoul/mvp_ex_bg01.png")no-repeat center/cover;
}
.projectDetail.nuovoseoul .webResponsive [class*="c_inner"]+[class*="c_inner"] {
    margin-top: 10rem;
}
.wmLayout {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
.wmLayout .w_img {
    width: 62%;
}
.wmLayout .m_img {
    width: 32%;
}
.projectDetail.nuovoseoul .webResponsive .titWrap {
    margin-bottom: var(--space-xxx-large);
}
.projectDetail.nuovoseoul .webResponsive .titWrap h4 {
    margin-bottom: var(--space-small);
    font-size: var(--font-size-xx-large);
}
.projectDetail.nuovoseoul .webResponsive .titWrap p {
    color: var(--font-color-mid);
}
.projectDetail.nuovoseoul .webResponsive img {
    border-radius: var(--border-radius-large);
}
.projectDetail.nuovoseoul .nuovo_bi .c_inner {
    height: 20rem;
    background: url("~@/assets/images/project/nuovoseoul/nuovoseoulbg.svg")no-repeat center/contain;
}
.projectDetail.nuovoseoul .fonts .fontWrap {
    flex-wrap: wrap;
    gap: 2rem;
}
.projectDetail.nuovoseoul .fonts .fontWrap.noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.projectDetail.nuovoseoul .fonts .fontWrap.roboto {
    font-family: 'Roboto', sans-serif;
}
.projectDetail.nuovoseoul .fonts .fontWrap+.fontWrap {
    margin-top: var(--space-xxx-large);
}
.projectDetail.nuovoseoul .fonts .name {
    gap: 1rem;
    width: 100%;
    font-size: var(--font-size-large);
}
.projectDetail.nuovoseoul .fonts .name .line {
    height: 1.4rem;
    border-left: .1rem solid var(--font-color-sub);
}
.projectDetail.nuovoseoul .fonts .name .lang {
    color: var(--font-color-mid);
    font-size: var(--font-size-mid);
}
.projectDetail.nuovoseoul .fonts .imgWrap {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    font-size: var(--font-size-xxx-large);
    background: var(--base-color-deep-dark);
    border-radius: var(--border-radius-large);
}
.projectDetail.nuovoseoul .fonts .txtWrap {
    flex-wrap: wrap;
    gap: 1rem 4rem;
}
.projectDetail.nuovoseoul .fonts .txtWrap .font-w-regular {
    font-weight: var(--font-w-regular);
}
.projectDetail.nuovoseoul .fonts .txtWrap .font-w-medium {
    font-weight: var(--font-w-mid);
}
.projectDetail.nuovoseoul .fonts .txtWrap .font-w-bold {
    font-weight: var(--font-w-bold);
}
.projectDetail.nuovoseoul .fonts .txtWrap p {
    width: 100%;
    color: var(--font-color-mid);
}
@media screen and (max-width: 600px) {

    .projectDetail.nuovoseoul .persona .c_flex_wrap {
        flex-direction: column;
        gap: var(--space-xxx-large);
    }
    .projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox:nth-child(2) {
        margin-top: unset;
    }
    .projectDetail.nuovoseoul .persona .c_flex_wrap .flexBox {
        width: 100%;
    }
    .wmLayout {
        flex-direction: column;
    }
    .wmLayout .w_img {
        width: 100%;
    }
    .wmLayout .m_img {
        width: unset;
        max-width: 30rem;
    }
}
/* NUOVOSEOUL END */